@using ApplicationCore.ServiceInterfaces
@model ApplicationCore.Models.MovieDetailsResponseModel

<div class="bg-image" style="background-image:url(@Model.BackdropUrl)">

    <div class="row">
        <div class="col-md-3 offset-2">
            <div>
                <img src="@Model.PosterUrl" class="card-img-top" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="row mt-2">
                <div class="col-12">
                    <h1 class="text-white">
                        @Model.Title
                    </h1>
                    <small class="text-muted">@Model.Tagline</small>
                </div>
            </div>
            <div class="row">
                <div class="col-4 text-secondary font-weight-bold mt-2">
                    @Model.RunTime m | @Model.ReleaseDate.Value.Date.Year
                </div>
                <div class="col-8">
                    @foreach (var genre in Model.Genres)
                    {
                        <a class="badge badge-pill badge-dark m1-1" asp-action="Genres" asp-route-id="@genre.Id">@genre.Name</a>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-4 mt-3">
                    <h4>
                        <span class="badge badge-warning">
                            @Model.Rating?.ToString("0.000000")
                        </span>
                    </h4>
                </div>
            </div>

    </div>
</div>
